<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429902246683-3pmgsh9tmms2uj0932rsgaih9p5to0ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429902246683-3pmgsh9tmms2uj0932rsgaih9p5to0ti</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>429902246683-m65rb8e97tpujmshrisjbct5u31nnjv5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTnne-nry8RdqCLn7Tlp-NbKsGlYJBAd8</string>
	<key>GCM_SENDER_ID</key>
	<string>429902246683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.braude.proconnect</string>
	<key>PROJECT_ID</key>
	<string>proconnect-6173c</string>
	<key>STORAGE_BUCKET</key>
	<string>proconnect-6173c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429902246683:ios:06e6162ac994066fc9d9be</string>
</dict>
</plist>